*{
    font-family: "Nanum Gothic", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar a{
    font-size: 14px;
    font-weight: 500;
}

.navbar-toggler{
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background-color: #fff;
}

.w-100-height {
    height: 90vh;
    width: 100%;
}

.carousel-item {
    min-width: 300px;
}

.carousel-caption {
    text-align: left;
    margin-bottom: 200px;
    z-index: 2;
}

.carousel-caption h5{
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 60px;
    text-align: left;
}

.carousel-caption p{
    width: 60%;
    font-size: 16px;
    line-height: 1.9;
    text-align: left;
}

.carousel-item .carousel-caption input {
    padding: 0.75rem 1rem;
}

.carousel-inner::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.6);
    z-index: 1;
}

.card-bottom {
    right: 0;
    margin-top: -178px;  
}

.card-text {
    color: #aeaeae;
}

.card-color {
    background: #000;
}

.icon{
    font-size: 40px;
    font-weight: 700;
    background: transparent;
    border: 1px solid #ffffff74;
    width: 80px;
    height: 80px;
    line-height: 1.8;
    border-radius: 50%;
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel-caption h5{
        font-size: 30px;
        letter-spacing: 0;
        line-height: normal;
    }

    .carousel-caption p {
        padding: 10px 15px;
        font-size: 15px;
    }
    
    .cardmain .card-bottom {
        display: none;
    }
  
  }

  .arrow-icon {
    font-size: 28px;
    font-weight: 800;
  }

  .about section-padding {
    padding: 100px 0;
  }


